header {
	height: 100vh;
	background-image: url('../img/header/header_bg_1.jpg');
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.header-menu__container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 1200px;
	margin: 0 auto;
}
.header-menu-line {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
}
nav {}
.nav__list {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	list-style: none;
}
.nav__item { margin-right: 20px; }
.nav__link { color: #401e12; }
.nav__link:hover {
	padding: 5px 0;
	color: #fff;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
.header-btn {
	cursor: pointer;
	color: #fff;
	border: 2px solid #401e12;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px 25px;
	box-shadow: 0 0 40px 40px #401e12 inset, 0 0 0 0 #401e12;
}
.header-btn:hover {
	box-shadow: 0 0 10px 0 #401e12 inset, 0 0 10px 4px #401e12;
	color: #401e12;
}






.header-screen {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header__video p { line-height: 45px; }
.header__video-btn {
	width: 45px;
	height: 45px;
	line-height: 45px;
	border: 2px solid #fff;
	border-radius: 50%;
	text-align: center;
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-left: 24px solid #fff;
	border-bottom: 16px solid transparent;
	margin-left: 12px;
	margin-top: 4px;
}










section {
	background-color: aquamarine;
	height: 2000px;
}





.header-top-line {
	/*position: sticky;*/
	position: relative;     /* 25/05/2020 */
	display: flex;
	justify-content: space-between;
}
.header-top-line * {
	margin-top: auto;
	margin-bottom: auto;
}
.header-top__block_1 {}
.header-top__block_2 {}
.menu, .menu li {
	display: inline-block;
	list-style: none;
	padding: 10px 0;
}
.menu li a { padding: 5px 0;}
.menu li a:hover {
	color: #EDAC40;
	border-bottom: 1px solid #EDAC40;
	border-top: 1px solid #EDAC40;
}

/* кнопка меню - "гамбургер" - start */
.menu-open {
	position: absolute;
	display: none;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background-color: transparent;
	border: 1px solid #fff;
	text-align: center;
	right: 20px;
	top: 50px;
}
.menu-open__btn {
	color: #fff;
	line-height: 40px;
	font-size: 24px;
}
/* кнопка меню - "гамбургер" - finish */
.header-top__block_3 .btn-offer:hover {
	background: #c31432;  /* fallback for old browsers */
	background: -webkit-linear-gradient(left, #240b36, #c31432);
	background: -o-linear-gradient(left, #240b36, #c31432);
	background: linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}









/* -- footer -- */
.footer {
	background: #EDAC40;
}
.footer-container {
	display: flex;
	justify-content: space-between;
}
.footer-block__item {}
.footer-block__title {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.footer-block__link a {
	font-size: 16px;
	font-weight: 300;
	color: #fff;
}
.footer-block__btn {
	padding: 14px 30px;
	border: 3px solid #fff;
	border-radius: 25px;
	text-transform: uppercase;
}
.footer-block__icons {
	border-bottom: 1px solid #fff;
}
.footer a:hover {
	color: #522b02;
	transition: 0.3s
}
.footer-social {
	display: flex;
	justify-content: space-between;
}
.btn-scroll-up {
	display: none;

	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 40px;
	height: 40px;
	color: #EDAC40;
	background: #fff;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
}
.show { display: block; }


