/* Базовые цвета */
/*     background-color: #f6d2ac;     1 - самый светлый */
/*     background-color: #e6ae74;     2 - светлый */
/*     background-color: #d6834f;     3 - средний */
/*     background-color: #a35233;     4 - темнее */
/*     background-color: #42281c;     5 - самый тёмный */

    /* --------------------------- */
*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1;
	transition: all 0.5s ease;
}
input, input:hover, input:active, input:focus,
button, button:hover, button:active, button:focus {
	outline: none !important;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.container {
	width: 1100px;
	margin: 0 auto;
}
/* --------------------------- */
/* FONTS */
@font-face {
    font-family: 'Alegreya Sans-400';
    src: url('../fonts/AlegreyaSans-Regular.eot');
    src: url('../fonts/AlegreyaSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AlegreyaSans-Regular.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Alegreya Sans-500';
    src: url('../fonts/AlegreyaSans-Medium.eot');
    src: url('../fonts/AlegreyaSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AlegreyaSans-Medium.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Alegreya Sans-700';
    src: url('../fonts/AlegreyaSans-Bold.eot');
    src: url('../fonts/AlegreyaSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AlegreyaSans-Bold.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Alegreya Sans-300';
    src: url('../fonts/AlegreyaSans-Light.eot');
    src: url('../fonts/AlegreyaSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AlegreyaSans-Light.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Tinos-700';
    src: url('../fonts/Tinos-Bold.eot');
    src: url('../fonts/Tinos-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Tinos-Bold.woff2') format('woff2'),
        url('../fonts/Tinos-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Tinos-400';
    src: url('../fonts/Tinos-Regular.eot');
    src: url('../fonts/Tinos-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Tinos-Regular.woff2') format('woff2'),
        url('../fonts/Tinos-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.f-al-300 { font-family: 'Alegreya Sans-300'; }
.f-al-400 { font-family: 'Alegreya Sans-400'; }
.f-al-500 { font-family: 'Alegreya Sans-500'; }
.f-al-700 { font-family: 'Alegreya Sans-700'; }
.f-ti-400 { font-family: 'Tinos-400'; }
.f-ti-700 { font-family: 'Tinos-700'; }

.fz14 { font-size: 14px; }
.fz16 { font-size: 16px; }
/* --------------------------- */
/* MARGIN & PADDING */
.mb15 { margin-bottom: 15px; }
.mr30 { margin-right: 30px; }
.p-20-0 { padding: 20px 0;}



/* --------------------------- */
/* COLOURS */
.c-white { color: #fff; }




/* --------------------------- */
h1 {
    font-family: 'Tinos-700', serif;
    color: #fff;
    font-size: 50px;
}
h2 {
    font-family: 'Tinos-400', serif;
    font-size: 35px;
    font-weight: 400;
    color: #42281c;
    text-transform: uppercase;
}

h4 {
    font-family: 'Tinos-700', serif;
    font-size: 27px;
}

/* --------------------------- */
.line-fluid {
    height: 1px;
    background-color: #fae3ca;
}
/* --------------------------- */



h3 {
    font-family: 'Tinos', serif;
    font-size: 30px;
    font-weight: 400;
    color: #000;
}

/* --------------------------- */
.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}










.btn-offer {
    padding: 14px 40px;
    border: 3px solid #EDAC40;
    border-radius: 25px;
    text-transform: uppercase;
}
.d-none { display: none; }
.d-blok { display: block; }
.d-jcsa { justify-content: space-around; }
.d-jcsb { justify-content: space-between; }
.d-jcfs { justify-content: flex-start; }
.d-jcc  { justify-content: center; }
.d-aic  { align-items: center; }
.d-drr  { flex-direction: row-reverse; }
/* --------------------------- */







/* Текст + стрелка вправо */
.details-link,
.details-link a {
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: 300;
    color: #EDAC40;
    text-transform: uppercase;
    text-decoration: none;
}
.details-link a i { margin-left: 15px; }
.details-link a:hover { color: #ed980c; }

/* Текст + стрелка в круге вправо */
.vectors-link {
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: 300;
    color: #EDAC40;
    text-transform: uppercase;
    text-decoration: none;
}



.vectors-link { margin-top: 10px; }
.vectors-link button {
    margin-left: 15px;
    font-size: 30px;
    background-color: #fff;
    border: none;
}
.vectors-link a { line-height: 30px; }
.vectors-link a:hover { color: #ed980c; }

/* --------------------------- */



/*
arrow-alt-circle-right
<i class="far fa-arrow-alt-circle-right"></i>

arrow-alt-circle-left
<i class="far fa-arrow-alt-circle-left"></i>

arrow-right
<i class="fas fa-arrow-right"></i>

arrow-left
<i class="fas fa-arrow-left"></i>
*/

